/* You can add global styles to this file, and also import other style files */
body {
    background-color: lightgoldenrodyellow;
    font-family: Noto Sans, sans-serif;
}

button {
    height: 2em;
    opacity: 20;
    background-color: lightblue;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin: 1px;
}

input[type=button] {
    height: 2em;
    opacity: 20;
    background-color: lightblue;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin: 1em;
}