/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px !important;
    background-color: white;
    font-family: Noto Sans, sans-serif;
}

button {
    background-color: #390099;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 1px;
    padding: 15px;
    color: white;
    font-weight: bold;
}

input[type=button] {
    background-color: #ff0054;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 1px;
    padding: 15px;
    color: white;
    font-weight: bold;

}

input[type=text] {
    margin: 2em;
    border: .5px dotted gray;
    border-radius: 2px;
    width: 65%;
    border: .5px solid gray;
    padding: 7px;
}

input[type=date] {
    margin: 2em;
    border: .5px dotted gray;
    border-radius: 2px;
    width: 65%;
    border: .5px solid gray;
    padding: 7px;
}

input[type=number] {
    margin: 2em;
    border: .5px dotted gray;
    border-radius: 2px;
    border: .5px solid gray;
    padding: 7px;
}

input[type=text]:focus, input[type="number"]:focus {
    outline: 0;
    border-bottom: 3px solid #5a189a;
}

input[type=date]:focus {
    outline: 0;
    border-bottom: 3px solid #5a189a;
}

.error {
    border: 1px solid #ff0054;
    padding: 2em;
    margin: 2em;
    width: 50%;
}