<div class="sport">
    <table>
        <tr>
            <th>Event Title</th>
            <th>Event Date</th>
            <th>Current Signups</th>
            <th>Max Signups</th>
        </tr>
        <tr>
            <td>test</td>
            <td>test</td>
            <td>1</td>
            <td>10</td>
        </tr>
        <tr>
            <td>test</td>
            <td>test</td>
            <td>1</td>
            <td>10</td>
        </tr>
        <tr>
            <td>test</td>
            <td>test</td>
            <td>1</td>
            <td>10</td>
        </tr>
    </table>
</div>