 .sport {
    display:inline;
}


table {
    margin-top: 2em;
    text-align: left;
    border-collapse: collapse;
}

th, td {
    padding: 1em;
}

tr:nth-child(even) {
    background-color: lightsalmon;
}


.trial-detail {
    text-align: center; 
    float: right;
    margin: 2em;
    padding: 1em; 
    height:  100%;
    width: 50%;
} 

#updateChanges {
    background-color: lightgreen;
}

#deleteTrial {
    background-color: red;
}
.trialDetailButtons {
    float: right;
}