.trial-detail {
    display: inline;
    flex-wrap: nowrap;
    text-align: right;
    width: 50%;
    min-height: 30em;
}

form input[type=text] {
    margin: 2em;
    border: .5px dotted gray;
    border-radius: 2px;
    width: 65%;
    border: .5px solid gray;
    padding: 7px;
}

form input[type=date] {
    margin: 2em;
    border: .5px dotted gray;
    border-radius: 2px;
    width: 65%;
    border: .5px solid gray;
    padding: 7px;
}

form>input[type=text]:focus {
    outline: 0;
    border-bottom: 3px solid #5a189a;
}

form>input[type=date]:focus {
    outline: 0;
    border-bottom: 3px solid #5a189a;
}

.form-header {
    font-size: large;
}

#GroupId {
    display: none;
}

.trial-form {
    display: flexbox;
    width: 100%;
}
