<div class="trial-detail">
    <form [formGroup]="detailForm" class="trial-form">
        <input type="text" formControlName="GroupId" id="GroupId">

        <label for="Event Title"> Title </label>
        <input type="text" formControlName="GroupName" id="GroupName">
        <br>
        <label for="eventDate"> Date </label>
        <input type="date" id="eventDate" formControlName="Date">
        <br>

        <label for="sponsorName"> Sponsor Name: </label>
        <input type="text" formControlName="SponsorName">
        <br>

        <label for="sponsorPhone"> Sponsor Phone: </label>
        <input type="text" formControlName="SponsorPhone">
        <br>

        <label for="sponsorEmail"> Creator Email: </label>
        <input type="text" formControlName="SponsorEmail">
        <br>

        <label for="maxSize"> Trial Signup Limit </label>
        <input type="text" id="maxSize" formControlName="MaxGroupSize">
        <br>

        <input type="button" value="Save Changes" (click)="updateTrial(detailForm.value)" id="save-changes">
    </form>
    <app-member [(trialDetails)]="trial"></app-member>
</div>