
nav {
    padding: 2em;
}

nav>ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav>ul>li>a {
    text-decoration: none;
    display: block;
    padding-left: 1.9em;
    padding-right: 1.9em;
    /* padding: 1.9em 1.9em; */
    color: black;
    font-weight: bold;
}

nav>ul>li>a.active {
    border-bottom: 3px solid white; 
}

