<div class="sport">
    <button *ngIf="!showDetail" id="newTrial" (click)="toggleAddTrialForm()">New Trial</button>
    <div class="trialDetailButtons">
        <button *ngIf="showDetail" id="updateChanges" (click)="updateTrial(trial)">Save Changes</button>
        <button *ngIf="showDetail" id="deleteTrial" (click)="deleteTrial(trial)">Delete Trial</button>
        <button *ngIf="showDetail" id="closeForm" (click)="closeForm()">Close Trial Detail</button>
    </div>
    <app-create-trial *ngIf="showAddNewForm" [organizationName]="sport"></app-create-trial>
    <app-trial-detail *ngIf="showDetail" [(trial)]="trial" (update)="updateTrial($event)"></app-trial-detail>
    <table>
        <tr>
            <th>Event Title</th>
            <th>Event Date</th>
            <th>Current Signups</th>
            <th>Max Signups</th>
        </tr>
        <tr *ngFor="let trial of trialList" (click)="retrieveTrial(trial)">
            <td>{{ trial.GroupName }}</td>
            <td>todo</td>
            <td>todo</td>
            <td>{{ trial.MaxGroupSize }}</td>
        </tr>
    </table>
</div>