.sport {
    display:inline;
}


.sport-table {
    margin-top: 2em;
    text-align: left;
    border-collapse: collapse;
}

.sport-table th, td {
    padding: 1em;
}

tr:nth-child(even) {
    background-color: lavender;
}


.trial-detail {
    text-align: center; 
    float: right;
    margin: 2em;
    padding: 1em; 
    height:  100%;
    width: 50%;
} 

#updateChanges {
    background-color: #ff5400;
}

#deleteTrial {
    background-color: #ff0054;
}
.trialDetailButtons {
    float: right;
}

#newTrial {
    float: right;
}

h1 {
    text-align: center;
}