<main>
    <p *ngIf="!showSport" class="description"> Welcome to the world of Dog Sports. Select a sport to view, create, or sign up for upcoming events. </p>
    <ul>
        <li *ngFor="let sport of sports">
            <a *ngIf="!showSport" (click)="toggleShowSport(sport)">
                <img class="home" [src]="'../assets/'+ sport+'.jpg'" alt="Cute dog" />
                {{ sport }}
            </a>
        </li>
    </ul>
    <button *ngIf="showSport" id="closeSport" (click)="toggleShowSport('')">Close Sport</button>
    <app-sport *ngIf="showSport" [sport]="showSport"></app-sport>
</main>