.home {
    display: flex;
    justify-content: space-between;
    border: 8px solid black;
    border-radius: 2px;
    margin: 2em;
}

.description {
    text-align: center;
}

main {
    min-height: 20em;
}

img {
    width: 200px;
    height: 150px;
}
main>ul {
    text-align: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

main>ul>li>a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

