<div class="members">
    <h2> Members</h2>
    <h4 *ngIf="trialDetails?.Members.length > 0">Current Members Signed Up:</h4>
    <p *ngIf="!(trialDetails?.Members.length > 0)">No one has signed up yet.</p>
    <div id="member-table">
        <table *ngIf="trialDetails?.Members.length > 0" class="sport-table">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Dog Name</th>
                <th>Dog Breed</th>
            </tr>
            <tr *ngFor="let member of trialDetails?.Members">
                <td> {{ member.MemberName }} </td>
                <td> {{ member.MemberEmail }} </td>
                <td> {{ member.MemberPhone }} </td>
                <td> {{ member.MemberDogName }} </td>
                <td> {{ member.MemberDogBreed }} </td>
            </tr>
        </table>
    </div>
    <div class="new-member">
        <div class="error" *ngIf="displayError"> Please fill out all required fields. </div>
        <form class="add-member-form" *ngIf="showAddMemberForm" [formGroup]="rowForm">
            Name*: <input type="text" class="table-input" formControlName="MemberName" required> <br> <br>
            Email*: <input type="text" class="table-input" formControlName="MemberEmail" required> <br> <br>
            Phone*: <input type="text" class="table-input" formControlName="MemberPhone" required> <br> <br>
            Dog Name*: <input type="text" class="table-input" formControlName="MemberDogName" required> <br> <br>
            Dog Breed*: <input type="text" class="table-input" formControlName="MemberDogBreed" required> <br> <br>
            <input type="button" value="Save Changes" (click)="addMember(rowForm.value)" id="save-changes"> <br> <br>
        </form>
    </div>
    <p *ngIf="!(trialDetails?.MaxGroupSize > trialDetails?.Members.length)" id="full-event"> Event is full. Check back for cancellations. </p>
    <button *ngIf="!showAddMemberForm && trialDetails?.MaxGroupSize > trialDetails?.Members.length" id="add-member" (click)="toggleAddMember()">Add Member</button>
</div>