 table {
    width: 100%;
    border-collapse: true;
    margin-top: 2em;
    text-align: left;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: lavenderblush;
}

tr {
    margin-top: 2em;
}

#add-member {
    margin-top: 30px;
}

#submit-member {
    background-color: #ff0054;
    float: right;
}

input[type=text] {
    width: 50%;
    margin: 0px;
}

.members {
    width: 100%;
    border-radius: 2px;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}

h1 {
    text-align: center;
}

h2, h4 {
    text-align: center;
}

.add-member-form {
    margin: 20px;
    padding: 2em;
}

.new-member {
    text-align: right;
}

.error {
    text-align: center;
    float: right;
}

#member-table {
    width: 50%;
    display: table;
    margin: auto;
}

#full-event {
    color: red;
    padding: 20px;
}